*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width:1000px) {
    .home-page-header {
        margin: 60px 100px;
    }
    .home-page-body img {
        width: 300px;
    }
    .select-box {
        width: 80%;
        max-width: 220px;
    }
    .recipe-card img {
        width: 100px;
        height: 100px;
        border-radius: 6px;
    }
}

@media (max-width:700px) {
    .home-page-header {
        margin: 30px 70px;
    }
    .home-page-header p {
        margin-bottom: 20px;;
    }
    .home-page-body {
        height: 350px;
    }
    .home-page-body img {
        width: 200px;
    }
    .select-box-container {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .select-box {
        width: 60%;
        max-width: 220px;
    }
    .recipe-card .recipe-left img {
        width: 70px;
        height: 70px;
        border-radius: 5px;
    }
}

@media (max-width:400px) {
    .home-page-header {
        margin: 15px 40px;
    }
    .home-page-header p {
        margin-bottom: 10px;;
    }
    .home-page-body {
        height: 300px;
    }
    .select-box-container {
        margin-top: 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .select-box {
        width: 40%;
    }
    .home-page-body img {
        width: 150px;
    }
    .recipe-card .recipe-left img {
        width: 60px;
        height: 60px;
        border-radius: 3px;
    }
}

body{
   /* background-color: #636363c4; */
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/homepageBackground.jpg");
   background-size: cover;
   width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #24252A;
    margin: 0 auto;
}

@keyframes logoAnimation {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-3px);
    }
    66% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

.logo{
    cursor: pointer;
    font-weight: 700;
    font-size: clamp(20px, 2.5vw, 28px);
    color: #87dfff;
    text-decoration: none;
}

.logo:hover {
    animation: logoAnimation 2s infinite;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav-links li {
    list-style: none;
    padding: 0 8px;
    margin: 0 auto;
}

.nav-links a{
    list-style-type: none;
    display: block;
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 22px);
    color: #fff;
    text-decoration: none;
    margin: 0;
    transition: color 0.5s, text-shadow 0.5s;
}

.navbar-item:hover {
    color: #ff1d70;
    text-shadow: 0 0 10px #ff1d70;
    text-decoration: underline;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    right: 10px;
    background: #24252A;
}

.nav-links li:hover .dropdown {
    display: block;
}

.dropdown ul {
    display: block;
    margin: 10px;
}

.dropdown ul li {
    width: 90px;
    padding: 10px;
}

.home-page-header {
    margin: 80px 120px;
    align-items: center;
    text-align: center;
    height: 300px;
}

.home-page-header h1 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: clamp(25px, 2.5vw, 38px);
}

.home-page-header p {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: clamp(12px, 2.5vw, 22px);
}

.home-page-header button {
    color: #ffffff;
    font-size: clamp(8px, 2.5vw, 22px);
}

.home-page-body {
    overflow: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    height: 400px;
}

.home-page-body img {
    width: 500px;
    padding-left: 20px;
    float: left;
}

.home-page-body .home-page-body-text {
    padding: 0 10px;
    margin-right: 30px;
    font-size: clamp(15px, 2.5vw, 22px);
    float: right;
}

.recipe-page-header {
    margin: 20px 120px;
    align-items: center;
    text-align: center;
    height: 100px;
}

.recipe-page-header {
    font-size: clamp(12px, 2.5vw, 22px);
}

.recipe-page-header h1 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: clamp(25px, 2.5vw, 38px);
}

.recipe-page-header p {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: clamp(12px, 2.5vw, 22px);
}

.recipe-page-select {
    align-items: center;
    justify-content: center;
}

.recipe-page-preference {
    padding: 0.5rem;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-bottom: 5px;
}

.recipe-page-preference label {
    color: #ffffff;
    font-size: clamp(10px, 2.5vw, 18px);
}

.select-box-container {
    justify-content: center;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.select-box {
    width: 100% auto;
}

.submit-button {
    cursor: pointer;
    padding: 2px 3px;
    width: 100px;
    background: #44a942;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
}

.recipe-page-recipe .recipe-header {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.recipe-page-recipe .recipe-header p {
    font-size: clamp(18px, 2.5vw, 25px);
    color: #ffffff;
    margin-bottom: 5px;
}

.recipe-card {
    padding: 15px 40px;
    background-color: #ffffff;
    color: black;
    font-size: clamp(10px, 2.5vw, 18px);
    border-bottom: 1px #878787c5 solid;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Align items to the start of the column */
}

.recipe-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure content spans the full width */
}

.recipe-left {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: flex-start; /* Align items to the start of the column */
    width: 30%;
}

.recipe-name {
    font-weight: 600;
    font-size: clamp(18px, 2.5vw, 25px);
    margin: 0; /* Reset margin to remove any default spacing */
    margin-bottom: 10px; /* Add spacing between name and image */
}

.recipe-card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.recipe-right {
    flex-grow: 1;
    margin-left: 20px;
}
